body {
    background-image: url(mtk02.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
h1 {
    text-align: center;
}
.content {
    width: 375px;
    height: 345px;
    margin:60px;
    display: inline-block;
    border: 3px solid black;
    border-radius: 30px;
    background-color: white;
}
h2 {
    text-align: center;
}
p {
    text-align: justify;
}